@import 'fonts';

$default-font: "roboto-ex";

$progress-width: 568px;
$progress-height: 320px;

$progress-padding: 15px;

$diameter: 160px;
$accent: #fdd94c;
$gray: #eeeeeb;
$progress: 0;
$border: 8px;
